@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

:root {
  --PrimaryColor: #57A3B4;
  --SecundaryColor: #A95658;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444;
  background-color: #fff;
  padding: 10% 5%;
  margin: 0;
}

