@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

:root {
  --PrimaryColor: #C6494C;
  --SecundaryColor: #F2E9DC;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #444;
  background-color: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: var(--PrimaryColor) !important;
  font-weight: 500 !important;
  text-decoration: none !important;
}

/*  Barra de navegación
****************************************************/
.navbar-nav .nav-item .nav-link{
  color: var(--SecundaryColor) !important;
  font-size: 1.1rem;
}

/*  Bienvenida
****************************************************/
#welcome-section {
  padding: 10% 5%;
  margin-top: 56px;
  height: 100vh;
  color: var(--SecundaryColor);
  background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );
}

#welcome-section h1 {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
  color: var(--SecundaryColor);
  margin-bottom: 2rem;
}

#welcome-section h1 span {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
  color: var(--SecundaryColor);
  font-style: normal;
}

/*  Proyectos
****************************************************/
#proyectos .card .card-body h3.card-text{
  margin-bottom: 0.5rem;
  color: #444 !important;
  font-size: 1.4rem;
}
#proyectos .card .card-body h3.card-text:hover{
  color: var(--PrimaryColor) !important;
}
#proyectos .card .card-body p{
  font-size: .9rem;
  color: #555;
}

/*  Footer
****************************************************/
footer{
  padding: 1rem 0 2rem;
  font-size: .8rem;
  color: #555;
  border-top: 1px solid #eee;
}


/*  Media queries
****************************************************/
@media (min-width: 768px) {
  #proyectos .album .col{
    width: 49.88888%;
  }
}

@media (min-width: 1200px) {
  #welcome-section {
    display: flex;
    align-items: center;
    margin-top: 58px;
  }
  #welcome-section h1{
    width: 70%;
  }
  #welcome-section p{
    font-size: 1.2rem;
  }

  #proyectos .album .col{
    width: 33.3333333%;;
  }

}